/* Upcoming.css */

.upcoming-page-container {
  padding: 20px;
}

.upcoming-events-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 35px;
  width: 100%;
}

.upcoming-grid-item {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 2px;
  border: 0.1px solid #524d63;
  border-radius: 8px;
  background-color: #17172d;
}

.event-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: right;
}

.event-details, .event-participants {
  margin-bottom: 10px;
  text-align: left;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.start-button {
  background-color: #1976d2;
  color: #fff;
}

.start-button:hover {
  background-color: #0d47a1;
}

.copy-invitation-button {
  background-color: rgba(255, 255, 255, 0.3); /* Transparent white */
  color: #1976d2;
}

.copy-invitation-button:hover {
  background-color: rgba(255, 255, 255, 0.6); /* Slightly less transparent on hover */
}
